
body {
  background: #fdfdfd;
  font-family: Arial, sans-serif;
}

#header-wrapper {
  margin: 10px auto auto;
  width: 600px;
}

  #header {
    background: #f8ffea;
    border: 3px solid #aad944;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: #aad944;
    text-align: center;
  }
    #header a {
      color: #7aa930;
    }

#atomik-wrapper {
  margin: 10px auto auto;
  width: 960px;
}
  
  #atomik {
    background: #f8ffea;
    border: 3px solid #aad944;
    margin-bottom: 10px;
    padding: 10px;
    font-size: small;
  }
  
    #atomik h1 {
      color: #5f5f5f;
    }
    
  #atomik-wrapper img {
    border: 0;
  }

.crslope {
  border-collapse: collapse;
}

  .crslope td {
    border: 0px;
    width: 80px;
  }
  
  .crslope input {
  width: 80px;
  }

.table-simppeli {
  border-collapse: collapse;
  background: #f0fcd9;
}

  .table-simppeli td {
    border: 1px solid;
    text-align: center;
  }
  
  .table-simppeli .info {
    background: #d2d6c7;
  }

.kahtiajako {
  border-collapse: collapse;
  width: 100%;
}

  .kahtiajako td {
    vertical-align: top;
    width: 50%;
  }

.hidden {
  display: none;
}

.tiivalinta {
  border-collapse: collapse;
  display: inline;
}

  .tiivalinta td {
    border: 1px solid;
  }
  
  .tiivalinta .v {
    background: #ffffff;
  }
  
  .tiivalinta .k {
    background: #ffe300;
  }
  
  .tiivalinta .s {
    background: #0074b3;
  }
  
  .tiivalinta .p {
    background: #ef3010;
  }

.oikea {
  float: right;
}
